.contacts {
  position: relative;
  padding: 100px 0;

  @media (max-width: 480px) {
    padding: 80px 0;
  }

  &__bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: 100% 100%;

    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
  &__inner {
  }

  &__content {
    display: flex;

    column-gap: 20px;

    max-width: 1360px;
    width: 100%;
    margin: 60px auto 0;
  }

  &__partner {
  }

  //   form

  &__form-wrapper {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;

    padding: 40px 75px 40px 40px;

    background-color: #fff;

    border-radius: 16px;

    @media (max-width: 1225px) {
      flex-direction: row;
      padding: 40px;
    }
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 767px) {
      padding: 40px 24px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1225px) {
      display: block;
      margin-right: 60px;
    }

    @media (max-width: 767px) {
      display: flex;

      margin-right: 0;
    }

    @media (max-width: 716px) {
      display: block;
    }
  }

  &__link-item {
    &:not(:last-child) {
      margin-right: 30px;
    }

    @media (max-width: 1225px) {
      &:not(:last-child) {
        margin-right: 0;

        margin-bottom: 40px;
      }
    }

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }

    @media (max-width: 716px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &__link-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

    opacity: 25%;

    margin-bottom: 4px;
  }

  &__link-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

    white-space: nowrap;

    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  //   form

  &__form-block {
    max-width: 670px;
    width: 100%;

    margin-bottom: 60px;

    @media (max-width: 1225px) {
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  &__form-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -2%;

    margin-bottom: 32px;
  }
}

.partner-contacs {
  @media (max-width: 1225px) {
    display: none;
  }

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100%;
  max-width: 560px;
  width: 100%;

  padding: 28px 32px;

  border-radius: 16px;
  &__title {
    position: relative;

    font-weight: 500;
    font-size: 44px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

    color: #fff;

    &_help-wrapper {
      position: relative;

      img {
        position: absolute;

        left: 162px;
        top: 13px;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

    color: #fff;
  }

  &__bg-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;

    border-radius: 16px;
  }
}

// .contacts {
//   position: relative;
//   z-index: 2;
//   padding: 100px 0;

//   @media (min-width: 1025px) {
//     margin-top: 200px;
//   }

//   background-color: $white-bg;

//   .contacts__bg-img {
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: 100% 100%;

//     -webkit-mask-image: linear-gradient(
//       to bottom,
//       rgba(0, 0, 0, 0),
//       rgba(0, 0, 0, 1) 10%
//     );
//     mask-image: linear-gradient(
//       to bottom,
//       rgba(0, 0, 0, 0),
//       rgba(0, 0, 0, 1) 10%
//     );
//   }
// }
.form {
  width: 100%;

  &__button {
    justify-self: start;
    &._disabled {
      .button {
        &__text,
        &__icon {
          background-color: $black;
        }

        &._arrow-animate:hover .button__icon img {
          transform: rotate(0);
        }
      }
    }
  }
}
.input-form {
  position: relative;

  border-bottom: 1px solid #787878;
  padding-top: 23px;
  // padding-bottom: 9px;
  padding-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__placeholder {
    position: absolute;
    top: 8px;

    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -2%;

    color: #787878;

    transition: all 0.2s ease-in-out;

    #required {
      color: #ff4a4a;
    }

    @media (max-width: 1024px) {
      font-size: 28px;
    }
  }

  &__input {
    display: block;
    width: 100%;

    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -2%;

    margin-top: 8px;

    color: #000;

    background-color: transparent;

    &#tel {
      color: #787878;
    }
    &#tel._filled {
      color: #000;
    }

    &._textarea {
      resize: none;

      height: 78px;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: $black; /* Цвет ползунка */
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #f0f0f0; /* Цвет фона */
      }
    }
  }

  &__input:focus ~ &__placeholder,
  &__input:not(:placeholder-shown) ~ &__placeholder {
    font-size: 16px;

    #brackets {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__error {
    display: none;

    position: absolute;
    right: 0;
    top: 10px;

    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;

    color: #ff4a4a;

    @media (max-width: 400px) {
      top: -10px;
    }
  }

  &._error &__error {
    display: block;
  }

  &__pattern-tel {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    z-index: -1;
    top: 35px;
    left: 0;

    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -2%;

    color: #787878;

    transition: all 0.2s ease-in-out;

    &._focus {
      opacity: 1;
      visibility: visible;
    }
  }
}

.custom-checkbox {
  cursor: pointer;
  position: relative;
  display: inline-flex;

  margin-bottom: 32px;

  .input-form__error {
    left: 0;
    bottom: 10px;
    top: auto;
  }

  &._error &__text {
    color: #ff4a4a;
  }
  &__input {
    display: none;
  }

  &__box {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #787878;
    border-radius: 4px;

    position: relative;

    transition: all 0.2s ease-in-out;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      opacity: 0;

      transition: inherit;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -2%;

    color: #787878;

    max-width: 410px;

    margin-left: 14px;
  }

  &__link {
    font-weight: 600;
    text-decoration: underline;
  }

  &__input:checked + &__box {
    border: none;

    img {
      opacity: 1;
    }
  }
}
