.staffjet {
  // margin-bottom: 100px;
  @media (max-width: 1024px) {
    margin-bottom: 0;
  }

  &__inner {
    position: relative;
    padding-top: calc(128px + 148px); // шапка + отступ
    margin-top: -128px;

    padding-bottom: 100px;

    @media (max-width: 600px) {
      padding-top: calc(112px + 110px);
      margin-top: -110px;
    }
    @media (max-width: 480px) {
      padding-bottom: 80px;
    }
  }

  &__bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: 100% 100%;

    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__content {
    margin-top: 40px;

    @media (max-width: 600px) {
      justify-content: start;
      margin-top: 32px;
    }

    &_inner {
      display: flex;
      flex-direction: column;

      align-items: center;
    }

    &_text-block {
      text-align: center;

      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: -1.5%;

      color: #575757;

      max-width: 556px;
      @media (max-width: 600px) {
        font-size: 16px;
      }
    }
  }

  &__button {
    margin-top: 60px;
    @media (max-width: 600px) {
      display: none;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 200px;
    @media (max-width: 1440px) {
      margin-top: 251px;
    }
    @media (max-width: 1024px) {
      margin-top: 595px;
    }
    @media (max-width: 744px) {
      margin-top: 420px;
    }

    @media (max-width: 600px) {
      margin-top: 241px;
    }

    &_item {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -1.5%;

      opacity: 50%;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
}
