.webmasters {
  position: relative;
  padding: 100px 0;

  &__bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: 100% 100%;

    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }

  @media (max-width: 480px) {
    padding: 80px 0;
  }
  &__inner {
  }

  &__content {
    margin: 60px auto 0;
    max-width: 1340px;

    @media (max-width: 1024px) {
      margin: 70px auto 0;
    }
    @media (max-width: 744px) {
      margin: 92px auto 0;
    }
    @media (max-width: 480px) {
      margin: 24px auto 0;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    border-radius: 16px;
    padding: 16px;
    background-color: #fff;

    &_img {
      overflow: hidden;
      max-width: 100%;
      width: 100%;

      img {
        max-width: 100%;
        transition: all 1s;
      }
    }

    &_title {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: -1.5%;

      margin: 20px 0 12px;
    }

    &_text {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: -1.5%;

      color: #7c7a7a;
    }
  }

  &__help-block {
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 60px 32px;
    margin-top: 20px;

    border-radius: 16px;

    background-color: #fff;
    &_title {
      text-align: center;

      font-weight: 600;
      font-size: 28px;
      line-height: 130%;
      letter-spacing: -1.5%;

      @media (max-width: 744px) {
        font-size: 24px;
      }
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    &_text {
      text-align: center;

      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -1.5%;

      color: #575757;

      margin: 16px 0 24px;
    }
  }

  &__button {
  }
}
